<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
  <p><strong>Home / Users /</strong> <%= @user.id %></p>
</div>

<h2>User - <%= @user.name %></h2>
<hr>
<div class="row">
  <div class="col-md-3 text-center">
  <%= image_tag @user.images["small_url"], style: "max-height: 150px;" %>
  </div>
  <div class="col-md-6">
    <p class="mb-1"><strong>ID</strong>: <%= @user.id %></p>
    <p class="mb-1"><strong>Name</strong>: <%= @user.name %></p>
    <p class="mb-1"><strong>First Name</strong>: <%= @user.first_name %></p>
    <p class="mb-1"><strong>Last Name</strong>: <%= @user.last_name %></p>
  </div>
</div>
<hr>

<h2>User Widgets</h2>
<%= render partial: "widgets/table", locals: { widgets: @user.widgets(current_access) } %>
