<% if widgets.any? %>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Kind</th>
          <th>User</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% widgets.each do |widget| %>
          <tr>
            <td><%= widget.id %></td>
            <td><%= widget.name %></td>
            <td><%= widget.description %></td>
            <td><%= widget.kind %></td>
            <td><%= image_tag widget.user.images["small_url"], style: "max-height: 25px; border-radius: 50px;" %> <%= link_to widget.user.name, user_path(widget.user.id) %></td>
            <td><%= widget.owner %></td>
            <td><% if widget.user.id == current_user&.id %><%= link_to 'Edit', edit_widget_path(widget.id), class: "btn btn-sm btn-warning" %>&nbsp;&nbsp;<%= link_to 'Delete', widget_path(widget.id), class: "btn btn-sm btn-danger", method: :delete, data: !Rails.env.test? ? { confirm: 'Are you sure?' } : {} %><%end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No widgets.</p>
<% end %>
